:root {
    // Colors
    --color-primary: #72A065;
    --color-secondary: #8C88CE;
    
    --color-grey-light: #F6F6F4;
    --color-grey: #D8DDE0;
    --color-grey-dark: #4A4F5D;

    --color-white: #F8F8F8;
    --color-black: #121418;

    // Shadows
    --shadow-light: 0 .5rem 2rem rgba(0, 0, 0, .3);
    --shadow-dark: 0 1rem 2rem rgba(0, 0, 0, .3);

    // Border
    --border-radius: 8px;
}
