:root {
    // Colors
    --color-primary: #7B1FA2;
    --color-primary-light: #AE52D4:
    --color-primary-dark: #4A0072;
    --color-secondary: #FFA726;
    --color-secondary-light: #FFD95b;
    --color-secondary-dark: #C77800;

    --color-grey-light: #F5F5F5;
    --color-grey: #748396;
    --color-grey-dark: #333333;

    --color-white: #F8F8F8;
    --color-black: #121418;

    // Shadows
    --shadow-light: 0 1px 3px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1);
    --shadow-medium:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --shadow-dark: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    // Border
    --border-radius: 6px;
}
