.avatar {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    box-shadow: var(--shadow-light);
    transition: all .2s;

    &:hover {
        box-shadow: var(--shadow-dark);
    }

    &--small {
        width: 4rem;
        height: 4rem;
    }

    &--big {
        width: 6.5rem;
        height: 6.5rem;
    }
}