.avatar {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    box-shadow: var(--shadow-light);
    transition: all .2s;

    &:hover {
        box-shadow: var(--shadow-dark);
    }

    &--small {
        width: 5rem;
        height: 5rem;
    }

    &--big {
        width: 10rem;
        height: 10rem;
    }
}