.button {
    display: inline-block;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    padding: 1rem 2rem;
    color: var(--color-white);
    letter-spacing: 0.6px;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    transition: all .3s;
    cursor: pointer;

    &--primary {
        background-color: var(--color-primary);

        &:hover {
            background-color: var(--color-primary-dark);
        }

        &:active {
            background-color: var(--color-primary-dark2);
        }
    }

    &--secondary {
        background-color: var(--color-secondary);

        &:hover {
            background-color: var(--color-secondary-dark);
        }

        &:active {
            background-color: var(--color-secondary-dark2);
        }
    }

    &:disabled {
        background-color: var(--color-grey);
        color: var(--color-grey-dark);
        cursor: not-allowed;
    }
}
