code {
    padding: 1rem 1.5rem;
    margin: 2rem 0;
    font-size: 1.4rem;
    white-space: nowrap;
    color: var(--color-gray-light);
    font-weight: 700;
    background: var(--color-gray-dark);
    border: 1px solid var(--color-gray-dark);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-light);
}

pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}
