.input {
    &__box {
        display: block;
        margin-bottom: 2rem;
    }

    &__label {
        color: var(--color-grey-dark);
        font-size: 1.6rem;
        font-weight: 700;
        font-weight: 700;
    }

    &__field {
        display: block;
        width: 100%;
        border-radius: var(--border-radius);
        outline: none;
        padding: 1.5rem;
        font-family: inherit;
        font-size: 1.6rem;
        font-weight: 700;
        color: var(--color-grey-dark);
        background-color: var(--color-grey-light);
        border: 2px solid var(--color-grey-light);
        outline: none;
        transition: all .3s;
        
        &:focus {
            border: 2px solid var(--color-primary-light);
        }

        &::-webkit-input-placeholder {
            color: var(--color-grey-medium);
        }

        &:disabled {
            background-color: var(--color-grey);
            border: 2px solid var(--color-grey);
            cursor: not-allowed;
        }
    }
}
