.text-field,
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    display: block;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1.5rem;
    margin: 1rem 0;
    box-shadow: var(--shadow-light);
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    color: var(--color-gray-dark);
    background-color: var(--color-gray-light);
    transition: all .2s;
    
    &:focus {
        box-shadow: var(--shadow-medium);
    }

    &::-webkit-input-placeholder {
        color: var(--color-gray-dark);
    }

    &:disabled {
        background-color: var(--color-gray);
        cursor: not-allowed;
    }
}