@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap');

body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    color: var(--color-grey-dark);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: var(--color-black);
}

h1 {
    font-size: 5.6rem;
    line-height: 6.7rem;
}

h2 {
    font-size: 4.8rem;
    line-height: 5.8rem;
}

h3 {
    font-size: 4rem;
    line-height: 4.8rem;
}

h4 {
    font-size: 3.2rem;
    line-height: 3.8rem;
}

h5 {
    font-size: 2.4rem;
    line-height: 2.9rem;
}

h6 {
    font-size: 1.6rem;
    line-height: 1.9rem;
}

p {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.title {
    display: block;
    font-size: 4rem;
    line-height: 48px;
    font-weight: 700;
    color: var(--color-black);
    opacity: 1;
}

.subtitle {
    display: block;
    font-size: 2.4rem;
    line-height: 2.9rem;
    font-weight: 300;
    color: var(--color-black);
    opacity: .6;
    margin-bottom: .6rem;
}

.paragraph {
    display: block;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: var(--color-black);
    opacity: .8;
}

.paragraph:not(:last-of-type) {
    margin-bottom: .6rem;
}
